.Bg {
  background-color: rgb(211, 220, 230);
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

@media screen and (max-width: 768px) {
  .Bg {
    padding: 40% 10%;
  }
}
body {
  margin: 0;
}
